body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #455c6fc6;
    color: #fff;
}

nav {
    display: flex;
    gap: 15px;
    padding: 15px;
    background: #100f0f;

    .brand{
  display:flex;
  align-items:center;
  gap:10px;
}

.brand img{
  width:32px;
  height:32px;
  object-fit:contain;
}

}

    nav a {
        color: #aaa;
        text-decoration: none;
    }

section {
    padding: 40px 20px;
}

#about {
    display: flex;
    gap: 20px;
    align-items: center;
}

    #about img {
        width: 150px;
        border-radius: 10px;
    }

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 6px 0;
}

footer {
    text-align: center;
    padding: 20px;
    background: #111;
}

    footer a {
        color: #aaa;
        text-decoration: none;
    }
